html, body {
    margin: 0px;
    padding: 0px;
}

#h1_title {
    text-align: center;
    color: #55598a;
}


#list {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#list::-webkit-scrollbar
{
    width: 0px;

}



img {
    height: 70px;
    width: 70px;
}

table {
    color: #858585;
    margin-bottom: 20px;
}

.number_cell {
    width: 25px !important;
}

.name_cell {
    width: 160px !important;
}

td span {
    padding: 5px;
}