html, body {
    margin: 0px;
    padding: 0px;
}

#h1_title {
    text-align: center;
    color: #55598a;
}


#list {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0px auto;
    width: 430px;
    border:  1px solid #eee;
}

#menu {
    margin: 0px auto 10px auto;

}

#menu td {
    padding: 0px 5px;
}



#list::-webkit-scrollbar
{
    width: 0px;

}

.img_wrapper {
    height: 70px;
    width: 70px;
    overflow: hidden;
}

img {
    height: auto;
    width: 70px;
}

table {
    color: #858585;
    margin-bottom: 20px;
}

.number_cell {
    width: 25px !important;
}

.name_cell {
    width: 160px !important;
}

td span {
    padding: 5px;
}