html, body {
	height: 100%;
	margin: 0px;
}
#center {
	height: 100%;
	margin: 0px auto;
	position: relative;
}

#ring {
	/*display: none;
	position: absolute;
	top: 50%;*/

	margin: 10px auto 0px auto;

}
.img_wrapper {
	height: 350px;
	width: 350px;
	cursor: pointer;
	overflow: hidden;
    padding: 0px 5px;
}
#ring img {
	width: 350px;
	height: auto;
}

.candidate_name {
	text-align: center;
	font-family: Verdana;
	font-size: 18px;
	color: #858585;
}

#h1_title {
    text-align: center;
    color: #55598a;

}


#menu {
    margin: 0px auto;
}

#menu td {
    padding: 0px 5px;
}
