html, body {
	height: 100%;
	margin: 0px;
}
#center {
	height: 100%;
	margin: 0px auto;
	position: relative;
}

#ring {
	display: none;
	position: absolute;
	top: 50%;
}
.img_wrapper {
	height: 370px;
	width: 370px;
	cursor: pointer;
	overflow: hidden;
}
#ring img {
	width: 370px;
	height: auto;
}

.candidate_name {
	text-align: center;
	font-family: Verdana;
	color: #858585;
}