html, body {
    height: 100%;
    margin: 0px;
    background: #edeef0;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}






#list {
    margin: 0px auto;
    width: 550px;
    border: 1px solid #e7e8ec;
    padding-top: 20px;
    background: white;
}



.img_wrapper {
    height: 90px;
    width: 90px;
    overflow: hidden;
    border: 1px solid #e7e8ec;
    border-radius: 2px;
}

img {
    height: auto;
    width: 90px;
}

#list table {
    color: #656565;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #e7e8ec;
    width: 100%;
}

.number_cell {
    width: 25px !important;
}

.name_cell a {
    width: 180px !important;
    color: #2a5885;
    text-decoration: none;
}

.name_cell a:hover {
    text-decoration: underline;
}

td span {
    padding: 5px;
    font-size: 13px;
}

.plus {
    padding: 0px;
    color: #509953;
}

.minus {
    padding: 0px;
    color: #995050;
}