html, body {
    height: 100%;
    background: #edeef0;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

#rating_graph {
    width: 100%;
    height: 400px;
    border: 1px solid #e7e8ec;
}


.img_wrapper {
    height: 250px;
    width: 250px;
    overflow: hidden;
    border: 1px solid #e7e8ec;
    border-radius: 2px;
}

img {
    height: auto;
    width: 250px;
}

