html, body {
	height: 100%;
	margin: 0px;
	background: #507299;

	font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}


#menu {
	width: 100%;
	height: auto;
}

#menu table {
	margin: 0px auto;
}

#menu table td {
	padding: 10px 5px;
}

#menu table td:hover {
	background: #446182;
}

#menu a {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
}




#center {
	height: 500px;
	width: 100%;
	margin: 0px;
	background: #edeef0;

	display: flex;
	align-items: center; /*вертикаль*/
	justify-content: center; /*горизонталь*/
}

#ring {
	background: white;
	border: 1px solid #e7e8ec;
	border-radius: 4px;
}

.img_wrapper {
	height: 430px;
	width: 430px;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid #e7e8ec;
	border-radius: 2px;
}

#ring img {
	width: 430px;
	height: auto;
}

.player_name {
	text-align: center;
}

.player_name a{
	color: #2a5885;
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
}

.player_name:hover {
	text-decoration: underline;
	cursor: pointer;
}